@page
@model RazorPizzaApp.Pages.Checkout.CheckoutModel
@{
    var imagePath = "~/images/Pizzas/" + (@Model.PizzaName + ".png");
}

<h1>Your Order!</h1>
<div class="allign-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src="@imagePath" class="w-100" asp-append-version="true" />
        <p>Your order for the Pizza is ready!</p>
        <p>Your pizza name is @Model.PizzaName</p>
        <p>and total price for your order is: @Model.PizzaPrice€ </p>
        <br />
        <a class="btn btn-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou" >Confirm Order</a>
    </div>
</div>